
<form action="/CC1/WebRtcChat/Home/Chat" method="post" enctype="multipart/form-data" accept-charset="utf-8">
  <h2>Fill in this form (for test using FrontEnd Server 1)</h2>
  <div>
    <label for=""><h3>Service id</h3></label>
    <input id="ServiceId" name="ServiceId" type="text" value="2" />
    <br/>

    <label for="routecat"><h3>Route Category</h3></label>
    <input id="routecat" type="text" name="routeCat" value="chat" />
    <br/>

    <label for="Language"><h3>Language</h3></label>
    <input name="Language" type="text" value="sv_SE">
    <br/>

    <label for="Name"><h3>Name</h3></label>
    <input Name="d.name"id="Name" name="Name" type="text" value="John Doe" />
    <br/>
    <label for="Email"><h3>Email address</h3></label>
    <input Name="maddr" id="Email" name="Email" type="text" value="john.doe@domain.com"/>
    <br/>
  <label for="FormData"><h3>Custom parameters</h3></label>
  <input id="FormData" name="FormData" type="text" value="c.ourcustid=A123;d.shoesize=39" />
  <br/>
  <p class="submit">
  <input type="submit" value="Send" />
  </p>
  </div>
</form>